.App{
    margin: auto;
    width: 940px;
}

.rightView{
    display:flex;
    flex-flow:column;
    align-items:center;
    height:600px;
    width:50%;
    background:@primary-color;
    justify-content: center;

    h1{
        font-family: @primary-font;
        color:white;
        font-size:4rem;
        font-weight: bolder;
    }
    
}