.App {
    margin: 20px auto;
    width: 940px;


    @media (max-width:600px) {
        margin: 20px auto;
        width: 100%;

    }
}

div#root{
        background:url('../img/Frame.png') ; 
        background-size: contain;
}

.rightView {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 548px;
    width: 48%;
    background: teal;
    justify-content: center;
    border-radius: 0.5rem;
    transition:1s;

    @media (max-width:600px) {
        
        width: 100%;

    }

    h1 {
        font-family: @primary-font;
        color: white;
        font-size: 4rem;
        font-weight: bolder;
        text-align: center;
    }

    h4 {
        font-family: @primary-font;
        color: white;
        font-size: 4rem;
        font-weight: bolder;
        text-align: center;
    }

    &.teal{
        background: teal;
    }

    &.purple{
        background: purple;
    }

    &.red {
        background: rgb(219, 85, 85);
    }

    &.blue {
        background: rgb(62, 62, 158);
    }
    &.green {
        background: rgb(76, 122, 76);
    }
    

}

.submitted-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 10px auto 0;
    align-items: center;
    height: 500px;
    max-width: 600px;
    border: 3px inset #632f8d;
    box-shadow: 10px 10px 40px #f7d5cc;
    border-radius: 0.5rem;
    width: 93%;
    margin: auto auto auto 0px;


    h1 {
        font-family: 'Roboto', sans-serif;
        color: green;
        font-size: 4rem;
        text-align: center;
    }

}

