.App{
    margin: 20px auto;
    width: 940px;

}

.rightView{
    display:flex;
    flex-flow:column;
    align-items:center;
    height:548px;
    width:50%;
    background:teal;
    justify-content: center;
    border-radius: .5rem;

    h1{
        font-family: @primary-font;
        color:white;
        font-size:4rem;
        font-weight: bolder;
    }
    
}