.location-input {
    margin: 10px;
    border: 2px solid rgb(221, 160, 221);
    padding: 10px;
    border-radius: .5rem;
}

h4 {
    font-family: 'Roboto',
    sans-serif;
    color: rgb(221, 160, 221);
}

h4.location-label {
    font-size: 1.5rem;
}

h4.destination-label {
    font-size: 1.5rem;
}