.misc-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 10px auto 0;
    align-items: center;
    height: 500px;
    max-width: 600px;
    border: 3px inset #632f8d;
    box-shadow: 10px 10px 40px #f7d5cc;
    border-radius: 0.5rem;
    width: 93%;
    margin: auto auto auto 0px;
        background: white;

    form.misc-form {
        display: flex;
        flex-flow: column nowrap;
        width: 75%;
        align-items: center;
        margin: 10px auto;
        justify-content: space-around;
        height: 300px;
        font-family: 'Roboto', sans-serif;

        h4 {
            font-family: 'Roboto', sans-serif;
            color: @primary-color;
            font-size: 1.5rem;
            text-align: center;
        }
        input.misc-input {
            margin: 10px;
            border: 2px solid @primary-color;
            padding: 10px;
            border-radius: 0.5rem;
            max-width: 200px;
        }

        button {
            border: 2px solid @primary-color;
            padding: 10px;
            border-radius: 0.5rem;
            background: white;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            color: @primary-color;
            font-weight: bold;
            width: 100%;
        }
    }
}
